# NYC Health COVID-19 Data Scraper
### March 30, 2020
### Matthew J. Beattie
### University of Oklahoma

Cases obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf_

Deaths obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf_

In [1]:
import pandas as pd
import re
import PyPDF2 as pdf
import tempfile
import urllib.request
from datetime import date

yr = 2020
mo = 4
day = 10

## Define Common Routines

In [2]:
"""
textfrompdf()
Reads in PDF file from NYC website or local file.  To read a local file, the user
must flag the readfrom variable as 'local'
"""
def textfrompdf(url,readfrom='online'):
    if readfrom != 'local':
        dataIn = urllib.request.urlopen(url).read()
    else:
        localf = open(url, 'rb')
        dataIn = localf.read()
        localf.close()

    fp = tempfile.TemporaryFile()

    # Write the pdf data to a temp file
    fp.write(dataIn)

    pdfReader = pdf.PdfFileReader(fp)
    pdfReader.getNumPages()

    # Get the first page
    return pdfReader.getPage(0).extractText()

## Read in NYC Cases Data

In [5]:
# Read in text from the PDF file and display
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-04092020-2.pdf'
localurl = 'covid-19-daily-data-summary.pdf'
casespage = textfrompdf(url,readfrom='online')

casespage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n April \n9, 2020\n at 5:00 PM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Cases\n . Total Cases\n Total\n 87725 Median Age (Range)\n 50 (0\n-110) Age Group\n  -  0 to 17\n 1726 (2%)\n -  18 to 44\n 33906 (39%)\n -  45 to 64\n 31472 (36%)\n -  65 to 74\n 10990 (13%)\n -  75 and over\n 9424 (11%)\n -  Unknown\n 207 Age 50 and over\n  -  Yes\n 44394 (51%)\n -  No 43124 (49%)\n Sex\n  -  Female\n 40135 (46%)\n -  Male\n 47193 (54%)\n -  Unknown\n 397 Borough\n  -  Bronx\n 18736 (21%)\n -  Brooklyn\n 23408 (27%)\n -  Manhattan\n 11486 (13%)\n -  Queens\n 27759 (32%)\n -  Staten Island\n 6298 (7%)\n -  Unknown\n 38 Deaths\n 4778       \n    \n '

## Extract the COVID cases by Age

In [6]:
# Extract the values for the cases by Age.  Ignore Unknown Age. 
tblText = re.sub("Coronavirus.*Cases.*0 to 17", "0 to 17", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)

In [7]:
tblText

'0-17,1726;18-44,33906;45-64,31472;65-74,10990;Over_75,9424'

In [8]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [9]:
rows

['0-17,1726', '18-44,33906', '45-64,31472', '65-74,10990', 'Over_75,9424']

In [10]:
# Convert the rows of text into a list of lists
agedata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    agedata.append(record)

In [11]:
# Convert the list into a dataframe and display 
agedf = pd.DataFrame(agedata, columns=['category','count'])
agedf['feature']='age'
agedf['type']='cases'
agedf['date']=date(yr,mo,day)
agedf

  category  count feature   type        date
0     0-17   1726     age  cases  2020-04-10
1    18-44  33906     age  cases  2020-04-10
2    45-64  31472     age  cases  2020-04-10
3    65-74  10990     age  cases  2020-04-10
4  Over_75   9424     age  cases  2020-04-10

## Extract the COVID cases by Sex

In [12]:
# Extract the values for the cases by Sex.  Ignore Unknown Sex. 
tblText = re.sub("Coronavirus.*Cases.*Female", "Female", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)

In [13]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [14]:
# Convert the rows into a list of lists
sexdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    sexdata.append(record)

# Convert the list into a dataframe and display
sexdf = pd.DataFrame(sexdata, columns=['category','count'])
sexdf['feature']='sex'
sexdf['type']='cases'
sexdf['date']=date(yr,mo,day)
sexdf

  category  count feature   type        date
0   Female  40135     sex  cases  2020-04-10
1     Male  47193     sex  cases  2020-04-10

## Extract the COVID cases by Borough

In [15]:
# Extract the values for the cases by Borough.  Ignore Unknown Borough. 
tblText = re.sub("Coronavirus.*Cases.*Bronx", "Bronx", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("Staten Island", "Staten_Island", tblText, flags=re.DOTALL)

# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [16]:
# Covert the rows of text into a list of lists
boroughdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    boroughdata.append(record)

# Convert the list into a dataframe and display    
boroughdf = pd.DataFrame(boroughdata, columns=['category','count'])
boroughdf['feature']='borough'
boroughdf['type']='cases'
boroughdf['date']=date(yr,mo,day)

# Concatenate Age, Sex, and Borough Stats into a cases dataframe and display
casesdf = pd.concat([agedf, sexdf, boroughdf]).reset_index().drop(columns=['index'])
casesdf

         category  count  feature   type        date
0            0-17   1726      age  cases  2020-04-10
1           18-44  33906      age  cases  2020-04-10
2           45-64  31472      age  cases  2020-04-10
3           65-74  10990      age  cases  2020-04-10
4         Over_75   9424      age  cases  2020-04-10
5          Female  40135      sex  cases  2020-04-10
6            Male  47193      sex  cases  2020-04-10
7           Bronx  18736  borough  cases  2020-04-10
8        Brooklyn  23408  borough  cases  2020-04-10
9       Manhattan  11486  borough  cases  2020-04-10
10         Queens  27759  borough  cases  2020-04-10
11  Staten_Island   6298  borough  cases  2020-04-10

## Read in NYC Deaths Data
Note that the deaths program is a bit more efficient.  We handle the entire table in one pass instead of breaking it into Age, Sex, and Borough.

In [22]:
# Read in text from PDF and show in raw format
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths-04092020-2.pdf'
localurl = 'covid-19-daily-data-summary-deaths-200330.pdf'
deathspage = textfrompdf(url,readfrom='online')
deathspage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect \nevents and activities\n as of\n April \n9, 2020\n at 5:00 PM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Deaths\n . Underlying \nConditions\n1 No \nUnderlying \nConditions\n Underlying \nConditions \nUnknown\n Total\n Age Group\n     -  0 to 17\n 3 0 0 3 -  18 to 44\n 188 18 35 241 -  45 to 64\n 906 38 199 1143 -  65 to 74\n 840 15 332 1187 -  75 and over\n 1402 18 784 2204 Sex\n     -  Female\n 1187 18 519 1724 -  Male\n 1979 65 804 2848 -  Unknown\n 173 6 27 206 Borough\n     -  Bronx\n 1031 11 93 1135 -  Brooklyn\n 805 23 513 1341 -  Manhattan\n 372 15 167 554 -  Queens\n 986 35 472 1493 -  Staten Island\n 144 5 105 254 -  Unknown\n 1 0 0 1 Total\n 3339 89 1350 4778  1Underlying illnesses include Diabetes, Lung Disease, Cancer, Immunodeficiency, Heart Disease, Hypertension, Asthma, Kidney \nDisease, and GI/Liver Disease.\n            \n  '

## Extract the COVID Deaths and Parse

In [23]:
# Parse the deathspage text into a set of records
tblText = re.sub("Coronavirus.*0 to 17", "0 to 17", deathspage, flags=re.DOTALL)
tblText = re.sub("Total.*","", tblText, flags=re.DOTALL)
tblText = re.sub("\n", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Sex.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Borough.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)
tblText = re.sub(", ", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" ", ",", tblText, flags=re.DOTALL)
tblText = re.sub("Staten,Island", "Staten_Island", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.+?(?=B)", "", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)

In [24]:
# Display parsed text to check format
tblText

'0-17,3,0,0,3;18-44,188,18,35,241;45-64,906,38,199,1143;65-74,840,15,332,1187;Over_75,1402,18,784,2204;Female,1187,18,519,1724;Male,1979,65,804,2848;Bronx,1031,11,93,1135;Brooklyn,805,23,513,1341;Manhattan,372,15,167,554;Queens,986,35,472,1493;Staten_Island,144,5,105,254;'

In [25]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [26]:
rows

['0-17,3,0,0,3',
 '18-44,188,18,35,241',
 '45-64,906,38,199,1143',
 '65-74,840,15,332,1187',
 'Over_75,1402,18,784,2204',
 'Female,1187,18,519,1724',
 'Male,1979,65,804,2848',
 'Bronx,1031,11,93,1135',
 'Brooklyn,805,23,513,1341',
 'Manhattan,372,15,167,554',
 'Queens,986,35,472,1493',
 'Staten_Island,144,5,105,254']

In [27]:
# Convert text into a list of rows
dftemp = []
for row in rows:
    record = row.split(",")
    del record[-1]
    for i in range(1,4):
        record[i] = int(record[i])
    if (record[0][0].isdigit() or record[0][0]=='O'):
        record.append('age')
    elif (record[0]=='Female' or record[0]=='Male'):
        record.append('sex')
    else:
        record.append('borough')
    dftemp.append(record)

In [28]:
# Transpose list of rows into higher normal form
deathsdata = []
deathtype = ['death_underlying','death_no_underlying','death_underlying_pending']
for row in dftemp:
    for i in range(1,4):
        record = []
        record.append(row[-1])
        record.append(row[0])
        record.append(deathtype[i-1])
        record.append(row[i])
        deathsdata.append(record)

In [29]:
# Convert list into pandas dataframe and display
deathsdf = pd.DataFrame(deathsdata, columns=['feature','category','type','count'])
deathsdf['date']=date(yr,mo,day)
deathsdf

    feature       category                      type  count        date
0       age           0-17          death_underlying      3  2020-04-10
1       age           0-17       death_no_underlying      0  2020-04-10
2       age           0-17  death_underlying_pending      0  2020-04-10
3       age          18-44          death_underlying    188  2020-04-10
4       age          18-44       death_no_underlying     18  2020-04-10
5       age          18-44  death_underlying_pending     35  2020-04-10
6       age          45-64          death_underlying    906  2020-04-10
7       age          45-64       death_no_underlying     38  2020-04-10
8       age          45-64  death_underlying_pending    199  2020-04-10
9       age          65-74          death_underlying    840  2020-04-10
10      age          65-74       death_no_underlying     15  2020-04-10
11      age          65-74  death_underlying_pending    332  2020-04-10
12      age        Over_75          death_underlying   1402  2020-04-10
13      age        Over_75       death_no_underlying     18  2020-04-10
14      age        Over_75  death_underlying_pending    784  2020-04-10
15      sex         Female          death_underlying   1187  2020-04-10
16      sex         Female       death_no_underlying     18  2020-04-10
17      sex         Female  death_underlying_pending    519  2020-04-10
18      sex           Male          death_underlying   1979  2020-04-10
19      sex           Male       death_no_underlying     65  2020-04-10
20      sex           Male  death_underlying_pending    804  2020-04-10
21  borough          Bronx          death_underlying   1031  2020-04-10
22  borough          Bronx       death_no_underlying     11  2020-04-10
23  borough          Bronx  death_underlying_pending     93  2020-04-10
24  borough       Brooklyn          death_underlying    805  2020-04-10
25  borough       Brooklyn       death_no_underlying     23  2020-04-10
26  borough       Brooklyn  death_underlying_pending    513  2020-04-10
27  borough      Manhattan          death_underlying    372  2020-04-10
28  borough      Manhattan       death_no_underlying     15  2020-04-10
29  borough      Manhattan  death_underlying_pending    167  2020-04-10
30  borough         Queens          death_underlying    986  2020-04-10
31  borough         Queens       death_no_underlying     35  2020-04-10
32  borough         Queens  death_underlying_pending    472  2020-04-10
33  borough  Staten_Island          death_underlying    144  2020-04-10
34  borough  Staten_Island       death_no_underlying      5  2020-04-10
35  borough  Staten_Island  death_underlying_pending    105  2020-04-10

In [30]:
# Concatenate cases and deaths dataframes and display
dailydf = pd.concat([casesdf, deathsdf]).reset_index().drop(columns=['index'])
dailydf

         category  count  feature                      type        date
0            0-17   1726      age                     cases  2020-04-10
1           18-44  33906      age                     cases  2020-04-10
2           45-64  31472      age                     cases  2020-04-10
3           65-74  10990      age                     cases  2020-04-10
4         Over_75   9424      age                     cases  2020-04-10
5          Female  40135      sex                     cases  2020-04-10
6            Male  47193      sex                     cases  2020-04-10
7           Bronx  18736  borough                     cases  2020-04-10
8        Brooklyn  23408  borough                     cases  2020-04-10
9       Manhattan  11486  borough                     cases  2020-04-10
10         Queens  27759  borough                     cases  2020-04-10
11  Staten_Island   6298  borough                     cases  2020-04-10
12           0-17      3      age          death_underlying  2020-04-10
13           0-17      0      age       death_no_underlying  2020-04-10
14           0-17      0      age  death_underlying_pending  2020-04-10
15          18-44    188      age          death_underlying  2020-04-10
16          18-44     18      age       death_no_underlying  2020-04-10
17          18-44     35      age  death_underlying_pending  2020-04-10
18          45-64    906      age          death_underlying  2020-04-10
19          45-64     38      age       death_no_underlying  2020-04-10
20          45-64    199      age  death_underlying_pending  2020-04-10
21          65-74    840      age          death_underlying  2020-04-10
22          65-74     15      age       death_no_underlying  2020-04-10
23          65-74    332      age  death_underlying_pending  2020-04-10
24        Over_75   1402      age          death_underlying  2020-04-10
25        Over_75     18      age       death_no_underlying  2020-04-10
26        Over_75    784      age  death_underlying_pending  2020-04-10
27         Female   1187      sex          death_underlying  2020-04-10
28         Female     18      sex       death_no_underlying  2020-04-10
29         Female    519      sex  death_underlying_pending  2020-04-10
30           Male   1979      sex          death_underlying  2020-04-10
31           Male     65      sex       death_no_underlying  2020-04-10
32           Male    804      sex  death_underlying_pending  2020-04-10
33          Bronx   1031  borough          death_underlying  2020-04-10
34          Bronx     11  borough       death_no_underlying  2020-04-10
35          Bronx     93  borough  death_underlying_pending  2020-04-10
36       Brooklyn    805  borough          death_underlying  2020-04-10
37       Brooklyn     23  borough       death_no_underlying  2020-04-10
38       Brooklyn    513  borough  death_underlying_pending  2020-04-10
39      Manhattan    372  borough          death_underlying  2020-04-10
40      Manhattan     15  borough       death_no_underlying  2020-04-10
41      Manhattan    167  borough  death_underlying_pending  2020-04-10
42         Queens    986  borough          death_underlying  2020-04-10
43         Queens     35  borough       death_no_underlying  2020-04-10
44         Queens    472  borough  death_underlying_pending  2020-04-10
45  Staten_Island    144  borough          death_underlying  2020-04-10
46  Staten_Island      5  borough       death_no_underlying  2020-04-10
47  Staten_Island    105  borough  death_underlying_pending  2020-04-10

In [28]:
# Save the dataframe to a CSV file
#yrstr = str(yr)
#mostr = str(mo) if mo >= 10 else ('0'+str(mo))
#daystr = str(day) if day >= 10 else ('0'+str(day))
#datestr = yrstr + mostr + daystr
#fname = datestr + '-NYCHealth-Daily-COVID-data.csv'

In [29]:
#dailydf.to_csv(fname,sep=",",index=False)

## Read in NYC Hospitalization Data, Extract and Parse

In [31]:
# Read in text from PDF and show in raw format
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-hospitalizations-04092020-1.pdf'
localurl = 'covid-19-daily-data-summary-hospitals-200330.pdf'
hosppage = textfrompdf(url,readfrom='online')
hosppage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this \nreport reflect events and activities\n as of\n April \n9, 2020\n at 5:\n00 PM.\n  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 \nHospitalizations\n  . Ever \nHospitalized \nCases\n1 Total \nCases\n Age Group\n   -  0 to 17\n 160 (9%)\n 1726 -  18 to 44\n 3461 (10%)\n 33906 -  45 to 64\n 8080 (26%)\n 31472 -  65 to 74\n 4746 (43%)\n 10990 -  75 and over\n 5124 (54%)\n 9424 -  Unknown\n 0 (0%)\n 207 Sex\n   -  Female\n 8618 (21%)\n 40135 -  Male\n 12769 (27%)\n 47193 -  Unknown\n 184 (46%)\n 397 Borough\n   -  Bronx\n 5441 (29%)\n 18737 -  Brooklyn\n 5402 (23%)\n 23408 -  Manhattan\n 2900 (25%)\n 11485 -  Queens\n 6776 (24%)\n 27759 -  Staten Island\n 1042 (17%)\n 6298 -  Unknown\n 10 (26%)\n 38 Total\n 21571 (25%)\n 87725  1Percentages are row percentages, calculated percent hospitalized among overall cases each category.\n  '

In [32]:
# Parse the deathspage text into a set of records
tblText = re.sub("Coronavirus.*0 to 17", "0 to 17", hosppage, flags=re.DOTALL)
tblText = re.sub("Total.*","", tblText, flags=re.DOTALL)
tblText = re.sub(" \([0-9]{1,3}%\)\n ", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub(" Sex.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Borough.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)
tblText = re.sub("\n ", ",", tblText, flags=re.DOTALL)
tblText = re.sub("Staten Island", "Staten_Island", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.+?(?=F)", "", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.+?(?=B)", "", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)

In [33]:
tblText

'0-17,160,1726;18-44,3461,33906;45-64,8080,31472;65-74,4746,10990;Over_75,5124,9424;Female,8618,40135;Male,12769,47193;Bronx,5441,18737;Brooklyn,5402,23408;Manhattan,2900,11485;Queens,6776,27759;Staten_Island,1042,6298;'

In [34]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]
rows

['0-17,160,1726',
 '18-44,3461,33906',
 '45-64,8080,31472',
 '65-74,4746,10990',
 'Over_75,5124,9424',
 'Female,8618,40135',
 'Male,12769,47193',
 'Bronx,5441,18737',
 'Brooklyn,5402,23408',
 'Manhattan,2900,11485',
 'Queens,6776,27759',
 'Staten_Island,1042,6298']

In [35]:
# Convert text into a list of rows
dftemp = []
for row in rows:
    record = row.split(",")
    del record[-1]
    for i in range(1,1):
        record[i] = int(record[i])
    if (record[0][0].isdigit() or record[0][0]=='O'):
        record.append('age')
    elif (record[0]=='Female' or record[0]=='Male'):
        record.append('sex')
    else:
        record.append('borough')
    dftemp.append(record)

In [36]:
dftemp

[['0-17', '160', 'age'],
 ['18-44', '3461', 'age'],
 ['45-64', '8080', 'age'],
 ['65-74', '4746', 'age'],
 ['Over_75', '5124', 'age'],
 ['Female', '8618', 'sex'],
 ['Male', '12769', 'sex'],
 ['Bronx', '5441', 'borough'],
 ['Brooklyn', '5402', 'borough'],
 ['Manhattan', '2900', 'borough'],
 ['Queens', '6776', 'borough'],
 ['Staten_Island', '1042', 'borough']]

In [37]:
# Convert list into pandas dataframe and display
hospdf = pd.DataFrame(dftemp, columns=['category','count','feature'])
hospdf['date']=date(yr,mo,day)
hospdf['type']='hospitalizations'
hospdf

         category  count  feature        date              type
0            0-17    160      age  2020-04-10  hospitalizations
1           18-44   3461      age  2020-04-10  hospitalizations
2           45-64   8080      age  2020-04-10  hospitalizations
3           65-74   4746      age  2020-04-10  hospitalizations
4         Over_75   5124      age  2020-04-10  hospitalizations
5          Female   8618      sex  2020-04-10  hospitalizations
6            Male  12769      sex  2020-04-10  hospitalizations
7           Bronx   5441  borough  2020-04-10  hospitalizations
8        Brooklyn   5402  borough  2020-04-10  hospitalizations
9       Manhattan   2900  borough  2020-04-10  hospitalizations
10         Queens   6776  borough  2020-04-10  hospitalizations
11  Staten_Island   1042  borough  2020-04-10  hospitalizations

In [38]:
# Concatenate cases and deaths dataframes and display
dailydf = pd.concat([casesdf, deathsdf, hospdf]).reset_index().drop(columns=['index'])
dailydf

         category  count  feature                      type        date
0            0-17   1726      age                     cases  2020-04-10
1           18-44  33906      age                     cases  2020-04-10
2           45-64  31472      age                     cases  2020-04-10
3           65-74  10990      age                     cases  2020-04-10
4         Over_75   9424      age                     cases  2020-04-10
5          Female  40135      sex                     cases  2020-04-10
6            Male  47193      sex                     cases  2020-04-10
7           Bronx  18736  borough                     cases  2020-04-10
8        Brooklyn  23408  borough                     cases  2020-04-10
9       Manhattan  11486  borough                     cases  2020-04-10
10         Queens  27759  borough                     cases  2020-04-10
11  Staten_Island   6298  borough                     cases  2020-04-10
12           0-17      3      age          death_underlying  2020-04-10
13           0-17      0      age       death_no_underlying  2020-04-10
14           0-17      0      age  death_underlying_pending  2020-04-10
15          18-44    188      age          death_underlying  2020-04-10
16          18-44     18      age       death_no_underlying  2020-04-10
17          18-44     35      age  death_underlying_pending  2020-04-10
18          45-64    906      age          death_underlying  2020-04-10
19          45-64     38      age       death_no_underlying  2020-04-10
20          45-64    199      age  death_underlying_pending  2020-04-10
21          65-74    840      age          death_underlying  2020-04-10
22          65-74     15      age       death_no_underlying  2020-04-10
23          65-74    332      age  death_underlying_pending  2020-04-10
24        Over_75   1402      age          death_underlying  2020-04-10
25        Over_75     18      age       death_no_underlying  2020-04-10
26        Over_75    784      age  death_underlying_pending  2020-04-10
27         Female   1187      sex          death_underlying  2020-04-10
28         Female     18      sex       death_no_underlying  2020-04-10
29         Female    519      sex  death_underlying_pending  2020-04-10
30           Male   1979      sex          death_underlying  2020-04-10
31           Male     65      sex       death_no_underlying  2020-04-10
32           Male    804      sex  death_underlying_pending  2020-04-10
33          Bronx   1031  borough          death_underlying  2020-04-10
34          Bronx     11  borough       death_no_underlying  2020-04-10
35          Bronx     93  borough  death_underlying_pending  2020-04-10
36       Brooklyn    805  borough          death_underlying  2020-04-10
37       Brooklyn     23  borough       death_no_underlying  2020-04-10
38       Brooklyn    513  borough  death_underlying_pending  2020-04-10
39      Manhattan    372  borough          death_underlying  2020-04-10
40      Manhattan     15  borough       death_no_underlying  2020-04-10
41      Manhattan    167  borough  death_underlying_pending  2020-04-10
42         Queens    986  borough          death_underlying  2020-04-10
43         Queens     35  borough       death_no_underlying  2020-04-10
44         Queens    472  borough  death_underlying_pending  2020-04-10
45  Staten_Island    144  borough          death_underlying  2020-04-10
46  Staten_Island      5  borough       death_no_underlying  2020-04-10
47  Staten_Island    105  borough  death_underlying_pending  2020-04-10
48           0-17    160      age          hospitalizations  2020-04-10
49          18-44   3461      age          hospitalizations  2020-04-10
50          45-64   8080      age          hospitalizations  2020-04-10
51          65-74   4746      age          hospitalizations  2020-04-10
52        Over_75   5124      age          hospitalizations  2020-04-10
53         Female   8618      sex          hospitalizations  2020-04-10
54           Male  12769      sex          hospitalizations  2020-04-10
55          Bronx   5441  borough          hospitalizations  2020-04-10
56       Brooklyn   5402  borough          hospitalizations  2020-04-10
57      Manhattan   2900  borough          hospitalizations  2020-04-10
58         Queens   6776  borough          hospitalizations  2020-04-10
59  Staten_Island   1042  borough          hospitalizations  2020-04-10

In [39]:
# Save the dataframe to a CSV file
yrstr = str(yr)
mostr = str(mo) if mo >= 10 else ('0'+str(mo))
daystr = str(day) if day >= 10 else ('0'+str(day))
datestr = yrstr + mostr + daystr
fname = datestr + '-NYCHealth-Daily-COVID-data.csv'

In [40]:
dailydf.to_csv(fname,sep=",",index=False)