# NYC Health COVID-19 Data Scraper
### March 30, 2020
### Matthew J. Beattie
### University of Oklahoma

Cases obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf_

Deaths obtained from _https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf_

In [1]:
import pandas as pd
import re
import PyPDF2 as pdf
import tempfile
import urllib.request
from datetime import date

yr = 2020
mo = 3
day = 30

## Define Common Routines

In [2]:
"""
textfrompdf()
Reads in PDF file from NYC website or local file.  To read a local file, the user
must flag the readfrom variable as 'local'
"""
def textfrompdf(url,readfrom='online'):
    if readfrom != 'local':
        dataIn = urllib.request.urlopen(url).read()
    else:
        localf = open(url, 'rb')
        dataIn = localf.read()
        localf.close()

    fp = tempfile.TemporaryFile()

    # Write the pdf data to a temp file
    fp.write(dataIn)

    pdfReader = pdf.PdfFileReader(fp)
    pdfReader.getNumPages()

    # Get the first page
    return pdfReader.getPage(0).extractText()

## Read in NYC Cases Data

In [3]:
# Read in text from the PDF file and display
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary.pdf'
localurl = 'covid-19-daily-data-summary.pdf'
casespage = textfrompdf(url,readfrom='online')

casespage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n March 30\n, 2020\n at 10:30 A\nM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign residents treated in NYC facilities\n.  NYC COVID\n-19 Cases\n . Total Cases\n Total\n 36221 Median Age (Range)\n 48 (0\n-105) Age Group\n  -  0 to 17\n 652 (2%)\n -  18 to 44\n 15202 (42%)\n -  45 to 64\n 12652 (35%)\n -  65 to 74\n 4312 (12%)\n -  75 and over\n 3309 (9%)\n -  Unknown\n 94 Age 50 and over\n  -  Yes\n 17169 (48%)\n -  No 18958 (52%)\n Sex\n  -  Female\n 16036 (44%)\n -  Male\n 20139 (56%)\n -  Unknown\n 46 Borough\n  -  Bronx\n 6830 (19%)\n -  Brooklyn\n 9521 (26%)\n -  Manhattan\n 5877 (16%)\n -  Queens\n 11868 (33%)\n -  Staten Island\n 2091 (6%)\n -  Unknown\n 34 Deaths\n 790   \n   \n \n      '

## Extract the COVID cases by Age

In [4]:
# Extract the values for the cases by Age.  Ignore Unknown Age. 
tblText = re.sub("Coronavirus.*Cases.*0 to 17", "0 to 17", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)

In [5]:
tblText

'0-17,652;18-44,15202;45-64,12652;65-74,4312;Over_75,3309'

In [6]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [7]:
rows

['0-17,652', '18-44,15202', '45-64,12652', '65-74,4312', 'Over_75,3309']

In [8]:
# Convert the rows of text into a list of lists
agedata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    agedata.append(record)

In [9]:
# Convert the list into a dataframe and display 
agedf = pd.DataFrame(agedata, columns=['category','count'])
agedf['feature']='age'
agedf['type']='cases'
agedf['date']=date(yr,mo,day)
agedf

  category  count feature   type        date
0     0-17    652     age  cases  2020-03-30
1    18-44  15202     age  cases  2020-03-30
2    45-64  12652     age  cases  2020-03-30
3    65-74   4312     age  cases  2020-03-30
4  Over_75   3309     age  cases  2020-03-30

## Extract the COVID cases by Sex

In [10]:
# Extract the values for the cases by Sex.  Ignore Unknown Sex. 
tblText = re.sub("Coronavirus.*Cases.*Female", "Female", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)

In [11]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [12]:
# Convert the rows into a list of lists
sexdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    sexdata.append(record)

# Convert the list into a dataframe and display
sexdf = pd.DataFrame(sexdata, columns=['category','count'])
sexdf['feature']='sex'
sexdf['type']='cases'
sexdf['date']=date(yr,mo,day)
sexdf

  category  count feature   type        date
0   Female  16036     sex  cases  2020-03-30
1     Male  20139     sex  cases  2020-03-30

## Extract the COVID cases by Borough

In [13]:
# Extract the values for the cases by Borough.  Ignore Unknown Borough. 
tblText = re.sub("Coronavirus.*Cases.*Bronx", "Bronx", casespage, flags=re.DOTALL)
tblText = re.sub("Deaths.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\(\d+%", "", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub("\n.+?(?=[0-9])", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \).+", "", tblText, flags=re.DOTALL)
tblText = re.sub("Staten Island", "Staten_Island", tblText, flags=re.DOTALL)

# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [14]:
# Covert the rows of text into a list of lists
boroughdata = []
for row in rows:
    record = []
    field1 = re.search("^([^,])+", row).group()
    field2 = re.search("[^,]+$", row).group()
    record.append(field1)
    record.append(int(field2))
    boroughdata.append(record)

# Convert the list into a dataframe and display    
boroughdf = pd.DataFrame(boroughdata, columns=['category','count'])
boroughdf['feature']='borough'
boroughdf['type']='cases'
boroughdf['date']=date(yr,mo,day)

# Concatenate Age, Sex, and Borough Stats into a cases dataframe and display
casesdf = pd.concat([agedf, sexdf, boroughdf]).reset_index().drop(columns=['index'])
casesdf

         category  count  feature   type        date
0            0-17    652      age  cases  2020-03-30
1           18-44  15202      age  cases  2020-03-30
2           45-64  12652      age  cases  2020-03-30
3           65-74   4312      age  cases  2020-03-30
4         Over_75   3309      age  cases  2020-03-30
5          Female  16036      sex  cases  2020-03-30
6            Male  20139      sex  cases  2020-03-30
7           Bronx   6830  borough  cases  2020-03-30
8        Brooklyn   9521  borough  cases  2020-03-30
9       Manhattan   5877  borough  cases  2020-03-30
10         Queens  11868  borough  cases  2020-03-30
11  Staten_Island   2091  borough  cases  2020-03-30

## Read in NYC Deaths Data
Note that the deaths program is a bit more efficient.  We handle the entire table in one pass instead of breaking it into Age, Sex, and Borough.

In [15]:
# Read in text from PDF and show in raw format
url = 'https://www1.nyc.gov/assets/doh/downloads/pdf/imm/covid-19-daily-data-summary-deaths.pdf'
localurl = 'covid-19-daily-data-summary-deaths-200330.pdf'
deathspage = textfrompdf(url,readfrom='online')
deathspage

'Coronavirus Disease 2019 (COVID\n-19) \n  Daily \nData\n Summary\n  The data in this report reflect events and activities\n as of\n March 30\n, 2020\n at \n10:30 A\nM.  All data in this report are preliminary and subject to change as cases continue to be investigated. \n These\n data \ninclude \ncases in NYC residents and foreign \nresidents treated in NYC facilities\n.  NYC COVID\n-19 Deaths\n  . Underlying \nConditions\n1 No Underlying \nConditions\n Underlying \nConditions \nPending\n Total\n Age Group\n     -  0 to 17\n 1 0 0 1 -  18 to 44\n 31 1 9 41 -  45 to 64\n 144 7 38 189 -  65 to 74\n 154 1 30 185 -  75 and over\n 309 3 62 374 Sex\n     -  Female\n 253 5 50 308 -  Male\n 386 7 89 482 Borough\n     -  Bronx\n 183 0 10 193 -  Brooklyn\n 136 5 47 188 -  Manhattan\n 83 1 19 103 -  Queens\n 200 6 50 256 -  Staten Island\n 36 0 13 49 -  Unknown\n 1 0 0 1 Total\n 639 12 139 790  1Underlying illnesses include Diabetes, Lung Disease, Cancer, Immunodeficiency, Heart Disease, Hypertension, Asthma, Kidney \nDisease, and GI/Liver Disease.\n    \n       \n     '

## Extract the COVID Deaths and Parse

In [16]:
# Parse the deathspage text into a set of records
tblText = re.sub("Coronavirus.*0 to 17", "0 to 17", deathspage, flags=re.DOTALL)
tblText = re.sub("Total.*","", tblText, flags=re.DOTALL)
tblText = re.sub("Unknown.*", "", tblText, flags=re.DOTALL)
tblText = re.sub("\n", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+?(?=[a-zA-Z0-9])", ";", tblText, flags=re.DOTALL)
tblText = re.sub(" \-.+", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Sex.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub(" Borough.+?(?=;)", "", tblText, flags=re.DOTALL)
tblText = re.sub("0 to 17", "0-17", tblText, flags=re.DOTALL)
tblText = re.sub("18 to 44", "18-44", tblText, flags=re.DOTALL)
tblText = re.sub("45 to 64", "45-64", tblText, flags=re.DOTALL)
tblText = re.sub("65 to 74", "65-74", tblText, flags=re.DOTALL)
tblText = re.sub("75 and over", "Over_75", tblText, flags=re.DOTALL)
tblText = re.sub(", ", ",", tblText, flags=re.DOTALL)
tblText = re.sub(" ", ",", tblText, flags=re.DOTALL)
tblText = re.sub("Staten,Island", "Staten_Island", tblText, flags=re.DOTALL)

In [17]:
# Display parsed text to check format
tblText

'0-17,1,0,0,1;18-44,31,1,9,41;45-64,144,7,38,189;65-74,154,1,30,185;Over_75,309,3,62,374;Female,253,5,50,308;Male,386,7,89,482;Bronx,183,0,10,193;Brooklyn,136,5,47,188;Manhattan,83,1,19,103;Queens,200,6,50,256;Staten_Island,36,0,13,49'

In [18]:
# Split the extracted text into rows and remove any rows that do not contain data
rows = re.split(";", tblText)
rows = [row for row in rows if re.search(r"[0-9]",row)!=None]

In [19]:
# Convert text into a list of rows
dftemp = []
for row in rows:
    record = row.split(",")
    del record[-1]
    for i in range(1,4):
        record[i] = int(record[i])
    if (record[0][0].isdigit() or record[0][0]=='O'):
        record.append('age')
    elif (record[0]=='Female' or record[0]=='Male'):
        record.append('sex')
    else:
        record.append('borough')
    dftemp.append(record)

In [20]:
# Transpose list of rows into higher normal form
deathsdata = []
deathtype = ['death_underlying','death_no_underlying','death_underlying_pending']
for row in dftemp:
    for i in range(1,4):
        record = []
        record.append(row[-1])
        record.append(row[0])
        record.append(deathtype[i-1])
        record.append(row[i])
        deathsdata.append(record)

In [21]:
# Convert list into pandas dataframe and display
deathsdf = pd.DataFrame(deathsdata, columns=['feature','category','type','count'])
deathsdf['date']=date(yr,mo,day)
deathsdf

    feature       category                      type  count        date
0       age           0-17          death_underlying      1  2020-03-30
1       age           0-17       death_no_underlying      0  2020-03-30
2       age           0-17  death_underlying_pending      0  2020-03-30
3       age          18-44          death_underlying     31  2020-03-30
4       age          18-44       death_no_underlying      1  2020-03-30
5       age          18-44  death_underlying_pending      9  2020-03-30
6       age          45-64          death_underlying    144  2020-03-30
7       age          45-64       death_no_underlying      7  2020-03-30
8       age          45-64  death_underlying_pending     38  2020-03-30
9       age          65-74          death_underlying    154  2020-03-30
10      age          65-74       death_no_underlying      1  2020-03-30
11      age          65-74  death_underlying_pending     30  2020-03-30
12      age        Over_75          death_underlying    309  2020-03-30
13      age        Over_75       death_no_underlying      3  2020-03-30
14      age        Over_75  death_underlying_pending     62  2020-03-30
15      sex         Female          death_underlying    253  2020-03-30
16      sex         Female       death_no_underlying      5  2020-03-30
17      sex         Female  death_underlying_pending     50  2020-03-30
18      sex           Male          death_underlying    386  2020-03-30
19      sex           Male       death_no_underlying      7  2020-03-30
20      sex           Male  death_underlying_pending     89  2020-03-30
21  borough          Bronx          death_underlying    183  2020-03-30
22  borough          Bronx       death_no_underlying      0  2020-03-30
23  borough          Bronx  death_underlying_pending     10  2020-03-30
24  borough       Brooklyn          death_underlying    136  2020-03-30
25  borough       Brooklyn       death_no_underlying      5  2020-03-30
26  borough       Brooklyn  death_underlying_pending     47  2020-03-30
27  borough      Manhattan          death_underlying     83  2020-03-30
28  borough      Manhattan       death_no_underlying      1  2020-03-30
29  borough      Manhattan  death_underlying_pending     19  2020-03-30
30  borough         Queens          death_underlying    200  2020-03-30
31  borough         Queens       death_no_underlying      6  2020-03-30
32  borough         Queens  death_underlying_pending     50  2020-03-30
33  borough  Staten_Island          death_underlying     36  2020-03-30
34  borough  Staten_Island       death_no_underlying      0  2020-03-30
35  borough  Staten_Island  death_underlying_pending     13  2020-03-30

In [22]:
# Concatenate cases and deaths dataframes and display
dailydf = pd.concat([casesdf, deathsdf]).reset_index().drop(columns=['index'])
dailydf

         category  count  feature                      type        date
0            0-17    652      age                     cases  2020-03-30
1           18-44  15202      age                     cases  2020-03-30
2           45-64  12652      age                     cases  2020-03-30
3           65-74   4312      age                     cases  2020-03-30
4         Over_75   3309      age                     cases  2020-03-30
5          Female  16036      sex                     cases  2020-03-30
6            Male  20139      sex                     cases  2020-03-30
7           Bronx   6830  borough                     cases  2020-03-30
8        Brooklyn   9521  borough                     cases  2020-03-30
9       Manhattan   5877  borough                     cases  2020-03-30
10         Queens  11868  borough                     cases  2020-03-30
11  Staten_Island   2091  borough                     cases  2020-03-30
12           0-17      1      age          death_underlying  2020-03-30
13           0-17      0      age       death_no_underlying  2020-03-30
14           0-17      0      age  death_underlying_pending  2020-03-30
15          18-44     31      age          death_underlying  2020-03-30
16          18-44      1      age       death_no_underlying  2020-03-30
17          18-44      9      age  death_underlying_pending  2020-03-30
18          45-64    144      age          death_underlying  2020-03-30
19          45-64      7      age       death_no_underlying  2020-03-30
20          45-64     38      age  death_underlying_pending  2020-03-30
21          65-74    154      age          death_underlying  2020-03-30
22          65-74      1      age       death_no_underlying  2020-03-30
23          65-74     30      age  death_underlying_pending  2020-03-30
24        Over_75    309      age          death_underlying  2020-03-30
25        Over_75      3      age       death_no_underlying  2020-03-30
26        Over_75     62      age  death_underlying_pending  2020-03-30
27         Female    253      sex          death_underlying  2020-03-30
28         Female      5      sex       death_no_underlying  2020-03-30
29         Female     50      sex  death_underlying_pending  2020-03-30
30           Male    386      sex          death_underlying  2020-03-30
31           Male      7      sex       death_no_underlying  2020-03-30
32           Male     89      sex  death_underlying_pending  2020-03-30
33          Bronx    183  borough          death_underlying  2020-03-30
34          Bronx      0  borough       death_no_underlying  2020-03-30
35          Bronx     10  borough  death_underlying_pending  2020-03-30
36       Brooklyn    136  borough          death_underlying  2020-03-30
37       Brooklyn      5  borough       death_no_underlying  2020-03-30
38       Brooklyn     47  borough  death_underlying_pending  2020-03-30
39      Manhattan     83  borough          death_underlying  2020-03-30
40      Manhattan      1  borough       death_no_underlying  2020-03-30
41      Manhattan     19  borough  death_underlying_pending  2020-03-30
42         Queens    200  borough          death_underlying  2020-03-30
43         Queens      6  borough       death_no_underlying  2020-03-30
44         Queens     50  borough  death_underlying_pending  2020-03-30
45  Staten_Island     36  borough          death_underlying  2020-03-30
46  Staten_Island      0  borough       death_no_underlying  2020-03-30
47  Staten_Island     13  borough  death_underlying_pending  2020-03-30

In [23]:
# Save the dataframe to a CSV file
yrstr = str(yr)
mostr = str(mo) if mo >= 10 else ('0'+str(mo))
daystr = str(day) if day >= 10 else ('0'+str(day))
datestr = yrstr + mostr + daystr
fname = datestr + '-NYCHealth-Daily-COVID-data.csv'

In [24]:
dailydf.to_csv(fname,sep=",",index=False)